{
  "openapi": "3.0.0",
  "info": {
    "title": "secure.na3.adobesign.com",
    "version": "6.0.0"
  },
  "servers": [
    {
      "url": "https://secure.na3.adobesign.com/api/rest/v6"
    }
  ],
  "paths": {
    "/baseUris": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with any of the valid scopes<ul></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseUriInfo"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "agreement_read",
              "agreement_sign",
              "agreement_vault",
              "agreement_write",
              "agreement_retention",
              "library_read",
              "library_write",
              "library_retention",
              "user_login",
              "user_read",
              "account_read",
              "account_write",
              "user_write",
              "widget_read",
              "widget_write",
              "widget_sign",
              "application_read",
              "application_write",
              "agreement_send",
              "workflow_read",
              "webhook_read",
              "webhook_write",
              "webhook_retention"
            ]
          }
        ],
        "operationId": "getBaseUris",
        "summary": "Gets the base uri to access other APIs. In case other APIs are accessed from a different end point, it will be considered an invalid request."
      }
    }
  },
  "components": {
    "schemas": {
      "BaseUriInfo": {
        "properties": {
          "apiAccessPoint": {
            "description": "The access point from where other APIs need to be accessed. In case other APIs are accessed from a different end point, it will be considered an invalid request",
            "type": "string"
          },
          "webAccessPoint": {
            "description": "The access point from where Acrobat Sign website can be be accessed",
            "type": "string"
          }
        },
        "required": [
          "apiAccessPoint",
          "webAccessPoint"
        ],
        "type": "object"
      }
    }
  }
}
