{
  "openapi": "3.0.0",
  "info": {
    "title": "secure.na3.adobesign.com",
    "version": "6.0.0"
  },
  "servers": [
    {
      "url": "https://secure.na3.adobesign.com/api/rest/v6"
    }
  ],
  "paths": {
    "/widgets": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group identifier, as returned by the group creation API or retrieved from the API to fetch groups.",
            "in": "query",
            "name": "groupId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A query parameter to fetch all the hidden web forms along with the visible web forms. Default value is false.",
            "in": "query",
            "name": "showHiddenWidgets",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Used to navigate through the pages. If not provided, returns the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of intended items in the response page. If not provided, it is decided by the application settings.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "An optional field to provide the comma-separated list of parent domain urls where the returned URLs may be iframed. If provided with non-empty and valid list of parent domain urls, it will be used to allow framing for the same. By default the value is null and the Acrobat Sign pages will not be viewable in an iframe.",
            "in": "query",
            "name": "frameParent",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserWidgets"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgets",
        "summary": "Retrieves web forms for a user."
      },
      "post": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_write\">widget_write</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetCreationResponse"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_write"
            ]
          }
        ],
        "description": "This is a primary endpoint which is used to create a new web form. You can create a web form in one of the 3 mentioned states: a) <b>DRAFT</b> - to incrementally build the web form, b) <b>AUTHORING</b> - to add/edit form fields in the web form, c) <b>ACTIVE</b> - to immediately host the web form. You can use the PUT /widgets/{widgetId}/state endpoint to transition a web form between the above mentioned states. An allowed transition would follow the any of the following sequences: DRAFT->AUTHORING->ACTIVE, ACTIVE<->INACTIVE, DRAFT->CANCELLED.",
        "operationId": "createWidget",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WidgetCreationInfoV6"
              }
            }
          },
          "description": "Information about the web form that you want to create.",
          "required": true
        },
        "summary": "Creates a web form and and returns the widgetId in the response to the client."
      }
    },
    "/widgets/{widgetId}": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass the value of the e-tag header obtained from the previous response to the same request to get a RESOURCE_NOT_MODIFIED(304) if the resource hasn't changed.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchedWidgetInfo"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetInfo",
        "summary": "Retrieves the details of a web form."
      },
      "put": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_write\">widget_write</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server will only update the resource if it matches the listed ETag otherwise error RESOURCE_MODIFIED(412) is returned.",
            "in": "header",
            "name": "If-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_write"
            ]
          }
        ],
        "operationId": "updateWidget",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WidgetInfo"
              }
            }
          },
          "description": "Web Form update information object.",
          "required": true
        },
        "summary": "Updates a web form."
      }
    },
    "/widgets/{widgetId}/agreements": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A query parameter to fetch all the hidden agreements along with the visible agreements. Default value is false.",
            "in": "query",
            "name": "showHiddenAgreements",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Used to navigate through the pages. If not provided, returns the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of intended items in the response page. If not provided, it is decided by the application settings.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetAgreements"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetAgreements",
        "summary": "Retrieves agreements for the web form."
      }
    },
    "/widgets/{widgetId}/auditTrail": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass the value of the e-tag header obtained from the previous response to the same request to get a RESOURCE_NOT_MODIFIED(304) if the resource hasn't changed.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": {
                  "format": "byte",
                  "type": "string"
                }
              },
              "application/pdf;encoding=base64": {
                "schema": {
                  "format": "byte",
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetAuditTrail",
        "summary": "Retrieves the audit trail of a web form identified by widgetId."
      }
    },
    "/widgets/{widgetId}/combinedDocument": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass the value of the e-tag header obtained from the previous response to the same request to get a RESOURCE_NOT_MODIFIED(304) if the resource hasn't changed.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The version identifier of web form as provided by the API which retrieves information of a specific web form. If not provided then latest version will be used.",
            "in": "query",
            "name": "versionId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the participant to be used to retrieve documents. If not mentioned, the participation of api caller is used.",
            "in": "query",
            "name": "participantId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When set to YES, attach an audit report to the signed Web Form PDF. Default value is false",
            "in": "query",
            "name": "attachAuditReport",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": {
                  "format": "byte",
                  "type": "string"
                }
              },
              "application/pdf;encoding=base64": {
                "schema": {
                  "format": "byte",
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetCombinedDocument",
        "summary": "Retrieves a single combined PDF document for the documents associated with a web form."
      }
    },
    "/widgets/{widgetId}/combinedDocument/url": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When set to true, attach an audit report to the web form PDF. The default value is false.",
            "in": "query",
            "name": "attachAuditReport",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUrl"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetCombinedDocumentUrl",
        "summary": "Retrieves url of all visible pages of all the documents associated with a web form."
      }
    },
    "/widgets/{widgetId}/documents": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass the value of the e-tag header obtained from the previous response to the same request to get a RESOURCE_NOT_MODIFIED(304) if the resource hasn't changed.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The version identifier of web form as provided by the API which retrieves information of a specific web form. If not provided then latest version will be used.",
            "in": "query",
            "name": "versionId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the participant to be used to retrieve documents. If not mentioned, the participation of api caller is used.",
            "in": "query",
            "name": "participantId",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetDocuments"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetDocuments",
        "summary": "Retrieves the IDs of the documents associated with web form."
      }
    },
    "/widgets/{widgetId}/documents/imageUrls": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma separated list of image sizes i.e. {FIXED_WIDTH_50px, FIXED_WIDTH_250px, FIXED_WIDTH_675px, ZOOM_50_PERCENT, ZOOM_75_PERCENT, ZOOM_100_PERCENT, ZOOM_125_PERCENT, ZOOM_150_PERCENT, ZOOM_200_PERCENT}. Default sizes returned are {FIXED_WIDTH_50px, FIXED_WIDTH_250px, FIXED_WIDTH_675px, ZOOM_100_PERCENT}. ",
            "in": "query",
            "name": "imageSizes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When set to true, returns only image availability. Else, returns both image urls and its availability.",
            "in": "query",
            "name": "showImageAvailabilityOnly",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicDocumentsImageUrlsInfo"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetAllDocumentsImageUrls",
        "summary": "Retrieves image urls of all visible pages of a document associated with a web form."
      }
    },
    "/widgets/{widgetId}/documents/{documentId}": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass the value of the e-tag header obtained from the previous response to the same request to get a RESOURCE_NOT_MODIFIED(304) if the resource hasn't changed.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The document identifier, as retrieved from the API which fetches the documents of a specified web form",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": {
                  "format": "byte",
                  "type": "string"
                }
              },
              "application/pdf;encoding=base64": {
                "schema": {
                  "format": "byte",
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetDocumentInfo",
        "summary": "Retrieves the file stream of a document of a web form."
      }
    },
    "/widgets/{widgetId}/events": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass the value of the e-tag header obtained from the previous response to the same request to get a RESOURCE_NOT_MODIFIED(304) if the resource hasn't changed.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetEventList"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getEvents",
        "summary": "Retrieves the events information for a web form."
      }
    },
    "/widgets/{widgetId}/formData": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Used to navigate through the pages. If not provided, returns the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of intended items in the response page. If not provided, it is decided by the application settings.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "byte",
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "format": "byte",
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "description": "CSV/JSON file stream containing form data information",
        "operationId": "getWidgetFormData",
        "summary": "Retrieves data entered by the user into interactive form fields at the time they signed the web form"
      }
    },
    "/widgets/{widgetId}/formFields": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass the value of the e-tag header obtained from the previous response to the same request to get a RESOURCE_NOT_MODIFIED(304) if the resource hasn't changed.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetFormFields"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetFormFields",
        "summary": "Retrieves form fields for a web form."
      },
      "put": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_write\">widget_write</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass the value of the e-tag header obtained from the previous response to the same request to get a RESOURCE_NOT_MODIFIED(304) if the resource hasn't changed.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetFormFields"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_write"
            ]
          }
        ],
        "operationId": "updateFormFields",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFieldPutInfo"
              }
            }
          },
          "description": "List of form fields to set for web form",
          "required": true
        },
        "summary": "Updates details of form fields of a web form."
      }
    },
    "/widgets/{widgetId}/me": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyAgreementInfo"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetInfoForUser",
        "summary": "Retrieves the web form information related to the api caller"
      }
    },
    "/widgets/{widgetId}/me/note": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetNoteForApiUser",
        "summary": "Retrieves the latest note of a web form for the API user."
      },
      "put": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_write\">widget_write</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_write"
            ]
          }
        ],
        "operationId": "updateWidgetNoteForApiUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Note"
              }
            }
          },
          "description": "The note to be associated with the web form.",
          "required": true
        },
        "summary": "Updates the latest note of a web form for the API user."
      }
    },
    "/widgets/{widgetId}/me/visibility": {
      "put": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_write\">widget_write</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_write"
            ]
          }
        ],
        "operationId": "updateWidgetVisibility",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisibilityInfo"
              }
            }
          },
          "description": "Information to update visibility of web form",
          "required": true
        },
        "summary": "Updates the visibility of web form."
      }
    },
    "/widgets/{widgetId}/members": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass the value of the e-tag header obtained from the previous response to the same request to get a RESOURCE_NOT_MODIFIED(304) if the resource hasn't changed.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetMembersInfo"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getAllWidgetMembers",
        "summary": "Retrieves detailed member info along with IDs for different types of participants."
      }
    },
    "/widgets/{widgetId}/members/ccParticipants": {
      "put": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_write\">widget_write</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server will only update the resource if it matches the listed ETag otherwise error RESOURCE_MODIFIED(412) is returned.",
            "in": "header",
            "name": "If-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_write"
            ]
          }
        ],
        "operationId": "updateWidgetCCParticipantEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CcInfos"
              }
            }
          },
          "description": "List of new CC emails",
          "required": true
        },
        "summary": "Updates the Email of CC participant of a Web Form identified by WidgetId in the path."
      }
    },
    "/widgets/{widgetId}/members/participantSets/{participantSetId}": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass the value of the e-tag header obtained from the previous response to the same request to get a RESOURCE_NOT_MODIFIED(304) if the resource hasn't changed.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The participant set identifier",
            "in": "path",
            "name": "participantSetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailedWidgetParticipantSetInfo"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getParticipantSet",
        "summary": "Retrieves the participant set of a web form identified by widgetId in the path."
      },
      "put": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_write\">widget_write</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server will only update the resource if it matches the listed ETag otherwise error RESOURCE_MODIFIED(412) is returned.",
            "in": "header",
            "name": "If-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The participant set identifier",
            "in": "path",
            "name": "participantSetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_write"
            ]
          }
        ],
        "operationId": "updateWidgetParticipantSetEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetailedWidgetParticipantSetInfo"
              }
            }
          },
          "description": "Information about the Participant that is to be Updated.",
          "required": true
        },
        "summary": "Updates the Email of participant set of a Web Form identified by WidgetId in the path."
      }
    },
    "/widgets/{widgetId}/members/participantSets/{participantSetId}/participants/{participantId}/securityOptions": {
      "get": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass the value of the e-tag header obtained from the previous response to the same request to get a RESOURCE_NOT_MODIFIED(304) if the resource hasn't changed.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The participant set identifier",
            "in": "path",
            "name": "participantSetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The participant identifier",
            "in": "path",
            "name": "participantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantSecurityOption"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read"
            ]
          }
        ],
        "operationId": "getWidgetSecurityOptionsForParticipation",
        "summary": "Retrieves the security options for a particular participant."
      },
      "put": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_write\">widget_write</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server will only update the resource if it matches the listed ETag otherwise error RESOURCE_MODIFIED(412) is returned.",
            "in": "header",
            "name": "If-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The participant set identifier",
            "in": "path",
            "name": "participantSetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The participant identifier",
            "in": "path",
            "name": "participantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_write"
            ]
          }
        ],
        "operationId": "updateWidgetSecurityOptionsForParticipation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParticipantSecurityOption"
              }
            }
          },
          "description": "Security options that apply to the participant",
          "required": true
        },
        "summary": "Updates the security options for a particular participant."
      }
    },
    "/widgets/{widgetId}/members/share": {
      "post": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_write\">widget_write</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareCreationResponseList"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_write"
            ]
          }
        ],
        "operationId": "createShareOnWidget",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareCreationInfoList"
              }
            }
          },
          "description": "List of agreement share creation information objects.",
          "required": true
        },
        "summary": "Share a web form with someone."
      }
    },
    "/widgets/{widgetId}/state": {
      "put": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_write\">widget_write</a></li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server will only update the resource if it matches the listed ETag otherwise error RESOURCE_MODIFIED(412) is returned.",
            "in": "header",
            "name": "If-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_write"
            ]
          }
        ],
        "description": "This endpoint can be used by creator of the web form to transition between the states of web form. An allowed transition would follow any of the following sequence :  DRAFT->AUTHORING->ACTIVE, ACTIVE<->INACTIVE, DRAFT->CANCELLED.",
        "operationId": "updateWidgetState",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WidgetStateInfo"
              }
            }
          },
          "required": true
        },
        "summary": "Updates the state of a web form identified by widgetId in the path."
      }
    },
    "/widgets/{widgetId}/views": {
      "post": {
        "parameters": [
          {
            "description": "An <a href=\"#\" class=\"link-oauth\">OAuth Access Token</a> with scopes:<ul><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-widget_read\">widget_read</a> - web form read is always required</li><li style='list-style-type: square'><a href=\"#\" class=\"link-oauth\" data-link-scope=\"scope-user_login\">user_login</a> - Required additionally if the autoLoginUser parameter is set to true</li></ul>in the format <b>'Bearer {accessToken}'.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email of API caller using the account or group token in the format <b>userid:{userId} OR email:{email}.</b> If it is not specified, then the caller is inferred from the token.",
            "in": "header",
            "name": "x-api-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The userId or email in the format <b>userid:{userId} OR email:{email}.</b> of the user that has shared his/her account",
            "in": "header",
            "name": "x-on-behalf-of-user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The web form identifier, as returned by the web form creation API or retrieved from the API to fetch web forms.",
            "in": "path",
            "name": "widgetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetViews"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "security": [
          {
            "oauth2": [
              "widget_read",
              "user_login"
            ]
          }
        ],
        "operationId": "getWidgetView",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WidgetViewInfo"
              }
            }
          },
          "description": "Name of the required view and its desired configuration.",
          "required": true
        },
        "summary": "Retrieves the requested views for a web form."
      }
    }
  },
  "components": {
    "schemas": {
      "AccountSharerInfo": {
        "properties": {
          "email": {
            "description": "The email address of the user",
            "type": "string"
          },
          "fullName": {
            "description": "Full name of this account sharer.",
            "type": "string"
          },
          "permissions": {
            "description": "A list of permissions given for this account sharing.",
            "items": {
              "enum": [
                "VIEW",
                "SEND",
                "MODIFY"
              ],
              "type": "string"
            },
            "type": "array"
          },
          "userId": {
            "description": "A unique identifier of the user resource for REST APIs as issued by Acrobat Sign.",
            "type": "string"
          }
        },
        "required": [
          "email",
          "fullName",
          "permissions",
          "userId"
        ],
        "type": "object"
      },
      "BasicDocumentsImageUrlsInfo": {
        "properties": {
          "documentsImageUrlsInfo": {
            "description": "A list of original document image URLs info.",
            "items": {
              "$ref": "#/components/schemas/DocumentImageUrlsInfo"
            },
            "type": "array"
          }
        },
        "required": [
          "documentsImageUrlsInfo"
        ],
        "type": "object"
      },
      "CCParticipantInfo": {
        "properties": {
          "company": {
            "description": "Company of the CC participant, if available.",
            "type": "string"
          },
          "email": {
            "description": "Email of the CC participant of the web form",
            "type": "string"
          },
          "hidden": {
            "description": "True if the web form is hidden for the user that is calling the API. Only returned if self is true.",
            "type": "boolean"
          },
          "name": {
            "description": "Name of the CC participant, if available.",
            "type": "string"
          },
          "participantId": {
            "description": " The unique identifier of the CC participant of the web form.",
            "type": "string"
          },
          "self": {
            "description": "True if the CC participant of the web form is the same user that is calling the API.",
            "type": "boolean"
          }
        },
        "required": [
          "company",
          "email",
          "hidden",
          "name",
          "participantId",
          "self"
        ],
        "type": "object"
      },
      "CcInfos": {
        "properties": {
          "ccInfoList": {
            "description": "List of emails of all the CC participant of the web form",
            "items": {
              "$ref": "#/components/schemas/WidgetCcInfo"
            },
            "type": "array"
          }
        },
        "required": [
          "ccInfoList"
        ],
        "type": "object"
      },
      "CommonViewConfiguration": {
        "properties": {
          "autoLoginUser": {
            "description": "Auto LogIn Flag. If true, the URL returned will automatically log the user in. If false, the URL returned will require the credentials. By default its value is false",
            "type": "boolean"
          },
          "frameParent": {
            "description": "An optional field to provide the comma-separated list of parent domain urls where the returned URLs may be iframed. If provided with non-empty and valid list of parent domain urls, it will be used to allow framing for the same. By default the value is null and the Acrobat Sign pages will not be viewable in an iframe. frameParent will be ignored for SIGNING view",
            "type": "string"
          },
          "locale": {
            "description": "Message template locale",
            "type": "string"
          },
          "noChrome": {
            "description": "No Chrome Flag. If true, the embedded page is shown without a navigation header or footer. If false, the standard page header and footer will be present. By default its value is false",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DetailedParticipantInfo": {
        "properties": {
          "company": {
            "description": "The company of the participant, if available. This cannot be changed as part of the PUT call.",
            "type": "string"
          },
          "createdDate": {
            "description": "The date when the participant was added. This will be returned as part of GET call but is ignored if passed as part of PUT call.",
            "format": "date",
            "type": "string"
          },
          "email": {
            "description": "Email of the participant. In case of modifying a participant set (PUT) this is a required field. In case of GET, this is the required field and will always be returned unless it is a fax workflow (legacy agreements) that were created using fax as input",
            "type": "string"
          },
          "hidden": {
            "description": "True if the agreement is hidden for the user that is calling the API. Only returned if self is true. Ignored (not required) if modifying a participant (PUT).",
            "type": "boolean"
          },
          "id": {
            "description": "The unique identifier of the participant. This will be returned as part of Get call.",
            "type": "string"
          },
          "name": {
            "description": "The name of the participant, if available. This cannot be changed as part of the PUT call.",
            "type": "string"
          },
          "securityOption": {
            "$ref": "#/components/schemas/ParticipantSecurityOption",
            "description": "Security options that apply to the participant.",
            "items": {
              "$ref": "#/components/schemas/ParticipantSecurityOption"
            }
          },
          "self": {
            "description": "True if this participant is the same user that is calling the API. Returned as part of Get. Ignored (not required) if modifying a participant set (PUT).",
            "type": "boolean"
          },
          "userId": {
            "description": "The user ID of the participant. This will be returned as part of GET call but is ignored if passed as part of PUT call.",
            "type": "string"
          }
        },
        "required": [
          "email",
          "id",
          "securityOption"
        ],
        "type": "object"
      },
      "DetailedWidgetParticipantSetInfo": {
        "properties": {
          "id": {
            "description": "The unique identifier of the participant set. This cannot be changed as part of the PUT call.",
            "type": "string"
          },
          "memberInfos": {
            "description": "Array of ParticipantInfo objects, containing participant-specific data (e.g. email). All participants in the array belong to the same set",
            "items": {
              "$ref": "#/components/schemas/DetailedParticipantInfo"
            },
            "type": "array"
          },
          "order": {
            "description": "Index indicating sequential signing group (specified for hybrid routing). This cannot be changed as part of the PUT call.",
            "type": "integer"
          },
          "providerParticipantSetInfo": {
            "$ref": "#/components/schemas/ProviderParticipantSetInfo",
            "description": "Represents the attributes related to a unknown participant's provider.",
            "items": {
              "$ref": "#/components/schemas/ProviderParticipantSetInfo"
            }
          },
          "role": {
            "description": "Role assumed by all participants in the set (signer, approver etc.). This cannot be changed as part of the PUT call.",
            "enum": [
              "SIGNER",
              "SENDER",
              "APPROVER",
              "ACCEPTOR",
              "CERTIFIED_RECIPIENT",
              "FORM_FILLER",
              "DELEGATE_TO_SIGNER",
              "DELEGATE_TO_APPROVER",
              "DELEGATE_TO_ACCEPTOR",
              "DELEGATE_TO_CERTIFIED_RECIPIENT",
              "DELEGATE_TO_FORM_FILLER",
              "SHARE",
              "NOTARY_SIGNER",
              "ELECTRONIC_SEALER"
            ],
            "type": "string"
          }
        },
        "required": [
          "memberInfos",
          "order",
          "role"
        ],
        "type": "object"
      },
      "DigAuthInfo": {
        "properties": {
          "providerDesc": {
            "description": "Digital Identity Gateway Provider Description. This will be ignored as part of POST or PUT calls.",
            "type": "string"
          },
          "providerId": {
            "description": "Digital Identity Gateway Provider Id. When replacing a participant that has DIG_ID authentication specified, you must supply a provider id for the new participant.",
            "type": "string"
          },
          "providerName": {
            "description": "Digital Identity Gateway Provider Name. This will be ignored as part of POST or PUT calls.",
            "type": "string"
          }
        },
        "required": [
          "providerId"
        ],
        "type": "object"
      },
      "DigitalSignatureInfo": {
        "properties": {
          "certificateIssuer": {
            "description": "Certificate Issuer for digital signing",
            "type": "string"
          },
          "cloudProviderIp": {
            "description": "Cloud Provider IP for digital signing",
            "type": "string"
          },
          "cloudProviderUrl": {
            "description": "Cloud Provider URL for digital signing",
            "type": "string"
          },
          "company": {
            "description": "Company name captured during digital signing",
            "type": "string"
          },
          "email": {
            "description": "Email captured during digital signing",
            "type": "string"
          },
          "name": {
            "description": "Name captured during digital signing",
            "type": "string"
          }
        },
        "required": [
          "company",
          "email",
          "name"
        ],
        "type": "object"
      },
      "DisplayParticipantInfo": {
        "properties": {
          "company": {
            "description": "Displays the name of the company of the user, if available",
            "type": "string"
          },
          "email": {
            "description": "Displays the email of the user",
            "type": "string"
          },
          "fullName": {
            "description": "Displays the full name of the user, if available. ",
            "type": "string"
          }
        },
        "required": [
          "email"
        ],
        "type": "object"
      },
      "DisplayWidgetParticipantSetInfo": {
        "properties": {
          "displayUserSetMemberInfos": {
            "description": "Displays the info about user set",
            "items": {
              "$ref": "#/components/schemas/DisplayParticipantInfo"
            },
            "type": "array"
          }
        },
        "required": [
          "displayUserSetMemberInfos"
        ],
        "type": "object"
      },
      "Document": {
        "properties": {
          "createdDate": {
            "description": "The date the document was created",
            "format": "date",
            "type": "string"
          },
          "id": {
            "description": "ID of the document. In case of PUT call, this is the only field that is accepted in Document structure. Name and mimeType are ignored in case of PUT call",
            "type": "string"
          },
          "label": {
            "description": "Label of the document",
            "type": "string"
          },
          "mimeType": {
            "description": "mimeType of the original file. This is returned in GET but not accepted back in PUT",
            "type": "string"
          },
          "name": {
            "description": "Name of the original document uploaded. This is returned in GET but not accepted back in PUT",
            "type": "string"
          },
          "numPages": {
            "description": "Number of pages in the document",
            "type": "integer"
          }
        },
        "required": [
          "createdDate",
          "id",
          "label",
          "numPages"
        ],
        "type": "object"
      },
      "DocumentImageUrls": {
        "properties": {
          "imageSize": {
            "description": "ImageSize corresponding to the imageUrl returned ",
            "enum": [
              "FIXED_WIDTH_50px",
              "FIXED_WIDTH_250px",
              "FIXED_WIDTH_675px",
              "ZOOM_50_PERCENT",
              "ZOOM_75_PERCENT",
              "ZOOM_100_PERCENT",
              "ZOOM_125_PERCENT",
              "ZOOM_150_PERCENT",
              "ZOOM_200_PERCENT"
            ],
            "type": "string"
          },
          "imageURLs": {
            "description": "A list of image url (one per page).",
            "items": {
              "$ref": "#/components/schemas/PageImageUrl"
            },
            "type": "array"
          },
          "imagesAvailable": {
            "description": "true if images for the associated image size is available, else false.",
            "type": "boolean"
          }
        },
        "required": [
          "imageURLs"
        ],
        "type": "object"
      },
      "DocumentImageUrlsInfo": {
        "properties": {
          "documentId": {
            "description": "Id of the document",
            "type": "string"
          },
          "documentImageUrlsList": {
            "description": "A list of documents image URLs.",
            "items": {
              "$ref": "#/components/schemas/DocumentImageUrls"
            },
            "type": "array"
          }
        },
        "required": [
          "documentId",
          "documentImageUrlsList"
        ],
        "type": "object"
      },
      "DocumentUrl": {
        "properties": {
          "url": {
            "description": "Secure URL of the document",
            "type": "string"
          }
        },
        "required": [
          "url"
        ],
        "type": "object"
      },
      "FetchedWidgetInfo": {
        "properties": {
          "additionalParticipantSetsInfo": {
            "description": "List of all the participants in the web form except web form signer",
            "items": {
              "$ref": "#/components/schemas/WidgetAdditionalParticipationSetInfo"
            },
            "type": "array"
          },
          "authFailureInfo": {
            "$ref": "#/components/schemas/WidgetRedirectionInfo",
            "description": "URL and associated properties for the error page the web form signer will be taken after failing to authenticate",
            "items": {
              "$ref": "#/components/schemas/WidgetRedirectionInfo"
            }
          },
          "ccs": {
            "description": "A list of one or more email addresses that you want to copy on this transaction. The email addresses will each receive an email when the final agreement created through web form is signed. The email addresses will also receive a copy of the document, attached as a PDF file",
            "items": {
              "$ref": "#/components/schemas/WidgetCcInfo"
            },
            "type": "array"
          },
          "completionInfo": {
            "$ref": "#/components/schemas/WidgetRedirectionInfo",
            "description": "URL and associated properties for the success page the web form signer will be taken to after performing desired action on the web form",
            "items": {
              "$ref": "#/components/schemas/WidgetRedirectionInfo"
            }
          },
          "createdDate": {
            "description": "Date when web form was created. If provided in POST, it will simply be ignored. Format would be yyyy-MM-dd'T'HH:mm:ssZ. For example, e.g 2016-02-25T18:46:19Z represents UTC time",
            "format": "date",
            "type": "string"
          },
          "creatorEmail": {
            "description": "Email of web form creator. Only returned in GET response. Cannot be provided in POST/PUT request. If provided in POST, it will simply be ignored",
            "type": "string"
          },
          "creatorName": {
            "description": "Name of web form creator. It will be ignored in POST/PUT requests",
            "type": "string"
          },
          "fileInfos": {
            "description": "A list of one or more files (or references to files) that will be used to create the web form. If more than one file is provided, they will be combined before the web form is created. Library documents are not permitted. Note: Only one of the four parameters in every FileInfo object must be specified",
            "items": {
              "$ref": "#/components/schemas/FileInfo"
            },
            "type": "array"
          },
          "groupId": {
            "description": "The ID of the group to which the web form belongs to. If not provided during creation, primary group of the creator will be used",
            "type": "string"
          },
          "id": {
            "description": "A resource identifier that can be used to uniquely identify the web form in other apis. If provided in POST, it will simply be ignored",
            "type": "string"
          },
          "isDocumentRetentionApplied": {
            "description": "Is document retention applied for this resource.  If provided in POST or PUT, it will simply be ignored.",
            "type": "boolean"
          },
          "lastEventDate": {
            "description": "The date of the last event that occurred for this web form.  Format would be yyyy-MM-dd'T'HH:mm:ssZ. For example, e.g 2016-02-25T18:46:19Z represents UTC time",
            "format": "date",
            "type": "string"
          },
          "locale": {
            "description": "The locale associated with this web form - specifies the language for the signing page and emails, for example en_US or fr_FR. If none specified, defaults to the language configured for the web form creator",
            "type": "string"
          },
          "name": {
            "description": "The name of the web form that will be used to identify it, in emails, website and other places",
            "type": "string"
          },
          "ownerEmail": {
            "description": "Email of web form owner. It will be ignored in POST/PUT requests",
            "type": "string"
          },
          "ownerId": {
            "description": "The unique identifier of the web form owner. It will be ignored in POST requests",
            "type": "string"
          },
          "ownerName": {
            "description": "Name of web form owner. It will be ignored in POST/PUT requests",
            "type": "string"
          },
          "securityOption": {
            "$ref": "#/components/schemas/SecurityOption",
            "description": "Secondary security parameters for the web form",
            "items": {
              "$ref": "#/components/schemas/SecurityOption"
            }
          },
          "state": {
            "description": "The state in which the web form should land. For example in order to create a web form in DRAFT state, field should be DRAFT. The state field will never get returned in GET /widgets/{ID} and will be ignored if provided in PUT /widgets/{ID} call. The eventual status of the web form can be obtained from GET /widgets/ID",
            "enum": [
              "DRAFT",
              "ACTIVE",
              "AUTHORING"
            ],
            "type": "string"
          },
          "status": {
            "description": "Status of the Web Form. If provided in POST, it will simply be ignored",
            "enum": [
              "DRAFT",
              "AUTHORING",
              "ACTIVE",
              "DOCUMENTS_NOT_YET_PROCESSED",
              "DISABLED",
              "DISCARDED"
            ],
            "type": "string"
          },
          "vaultingInfo": {
            "$ref": "#/components/schemas/VaultingInfo",
[...]
